<div class="container">
  <h1>Welcome to my Notes Aplication!</h1>

<form action="/new_note" method="POST">
<fieldset>
<legend>Create a new note:</legend>
Title: <input type="text" size="30" name="title"><br>
Content: <input type="text" size="30" name="content"><br>
<input type="submit" value="Submit">
</fieldset>
</form>




</div>

